/* Google Fonts import: Roboto 100, 400, 700 */
@import 'https://fonts.googleapis.com/css?family=Roboto:100,400,700';

/* Default */
html {
  height: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  color: #fff;
  display: flex;
  background-color: #222;
  font-family: 'Roboto', sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

.wrapper {
  border: 5px solid #fff;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}
