/* Google Fonts import: Roboto 100, 400, 700 */
@import 'https://fonts.googleapis.com/css?family=Roboto:100,400,700';

* {
    margin: 0;
    padding: 0;
}

/**********************
The Flexbox Structure
**********************/
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}
main { flex: 1 auto; }



/**********************
The Header
**********************/
header {
    color: #fff;
    background: #43b3b0;
}


/**********************
The Main
**********************/



/**********************
The Footer
**********************/
footer {
    color: #fff;
    background: #f60;
}
.dev-copy {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    color: #F60;
    height: 50px;
    background: #be4c00;
}
.dev-copy p {
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.dev-copy span { color: #fff; }
